.loader {
  position: absolute;
  top: 244px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1000;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loader.visible {
  opacity: 1;
  transition: all 0.1s;
}

.loader.hidden {
  opacity: 0;
  z-index: -10;
  transition: all 1s;
}
