.filter-bar {
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 24px 0;

  .btn {
    margin-bottom: 10px;
  }

  .btn {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.filter-bar.fixed {
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.4s;

  .filter-bar__inner {
    padding: 0 16px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.content-wrapper {
  .filter-bar.fixed + .page-title {
    padding-top: 96px;
  }
}

@media (max-width: 768px) {
  .filter-bar {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .content-wrapper {
    .filter-bar.fixed + .page-title {
      padding-top: 48px;
    }
  }
}
