.filter-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding: 104px 0px 14px 0;
  background-color: #fff;
  transition: padding 0.24s;

  .btn {
    margin-bottom: 10px;
  }

  .btn {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.filter-bar.fixed {
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  padding: 74px 0px 4px 0;
  transition: all 0.24s;

  .filter-bar__inner {
    padding: 0 16px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.content-wrapper {
  .filter-bar + .page-title {
    padding-top: 94px;
  }
}

@media (max-width: 776px) {
  .filter-bar {
    padding: 71px 0px 4px 0;
    padding-bottom: 0;
  }
  .filter-bar.fixed {
    padding: 64px 0px 0px 0;
  }
  .content-wrapper {
    .filter-bar + .page-title {
      padding: 94px 0px 0px 0;
    }
  }
}
