.popup-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  color: black;
  z-index: 1001;
}

.popup-transition-enter {
  opacity: 0;
  transform: scale(0.1);
}

.popup-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.popup-transition-exit {
  opacity: 1;
}

.popup-transition-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms, transform 300ms;
}

.popup-bg-transition-enter {
  opacity: 0;
}

.popup-bg-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.popup-bg-transition-exit {
  opacity: 1;
}

.popup-bg-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
