.popup-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup {
  position: fixed;
  // align-items: center;
  top: 50%;
  left: 50%;
  color: black;
  z-index: 1001;
  transform: translate(-50%, -50%);
}
