.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  height: 38px;
  padding-left: 10px;
  border: 1px solid #e8e8e8;
}

textarea {
  padding: 5px;
  border: 1px solid #e8e8e8;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 26px;
  }
  .h2 {
    font-size: 24px;
  }
}
