$small-content-max-width: 800px;
$normal-content-width: 1170px;

.fixed {
  position: fixed;
}

.px-35 {
  padding-right: 35px;
  padding-left: 35px;
}

.round {
  border-radius: 20px;
}

.content-wrapper {
  max-width: $normal-content-width;
  margin: 0 auto;
}

.content-wrapper-small {
  max-width: $small-content-max-width;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.main-container {
  margin-bottom: 50px;
  flex: 1 0 auto;
  position: relative;
}

.fixed ~ .main-container {
  padding-top: 81px;
}

@media (max-width: 786px) {
  .fixed ~ .main-container {
    padding-top: 55px;
  }
}
