$small-content-max-width: 800px;
$normal-content-width: 1170px;

.fixed {
  position: fixed;
}

.content-wrapper {
  max-width: $normal-content-width;
  margin: 0 auto;
}

.content-wrapper-small {
  max-width: $small-content-max-width;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.main-container {
  margin-bottom: 50px;
  flex: 1 0 auto;
}

.fixed + .main-container {
  padding-top: 81px;
}
