.filter {
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 300px;
  width: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  animation: slide 0.41s;

  &__submit-btn {
    background-color: #ff4c4e;
    border-color: #ff4c4e;
    box-shadow: none;
    outline: none;
    border: none;

    &:hover {
      background-color: #ff4c4e;
      box-shadow: none;
      outline: none;
      border: none;
    }
  }

  &__submit-btn.btn.btn-primary {
    &:active {
      background-color: #ff4c4e;
      box-shadow: none;
      outline: none;
      border: none;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  &__range {
    display: flex;
    width: 100%;

    input {
      height: 30px;
      width: 50%;
    }
    label {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    animation: fade 0.6s;
    transition: 0.25s;
  }

  @keyframes slide {
    0% {
      left: -500px;
    }

    100% {
      left: 0;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
