.card {
  animation-name: example;
  animation-duration: 1.2s;
  border: none;

  &__img-wraper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__badge {
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 0;
    padding: 12px 10px;
    z-index: 2;
  }

  &__img {
    height: auto;
    width: 100%;
    min-height: 220px;
    height: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__size-info {
    display: flex;
    flex-direction: start;
    color: #4c4338;
  }

  &__land-area,
  &__house-area {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }

  &__land-area img,
  &__house-area img {
    margin-right: 15px;
  }

  &__house-price {
    min-height: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #27241e;
    font-weight: bold;
  }

  &__house-description {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    color: #a29b99;
    position: relative;

    &::after {
      box-shadow: inset -4.5rem 0 5rem -2rem rgba(255, 255, 255, 1);

      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: calc(100% - 40px);
      right: 0px;
    }

    &:hover {
      text-decoration: none;
      color: red;
      color: #9fa0a4;
    }
  }

  @media (max-width: 1200px) {
    .card {
      &__img {
        max-height: 240px;
        min-height: 240px;
      }
    }
  }

  @media (max-width: 992px) {
    .card {
      &__img {
        max-height: 240px;
        min-height: 190px;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      &__img {
        max-height: 320px;
        min-height: 320px;
      }
    }
  }

  @media (max-width: 576px) {
    .card {
      &__img {
        max-height: 220px;
        min-height: 220px;
      }
    }
  }
}

@keyframes example {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
