.badge-photo-badge {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding: 10px;
  color: #222;
  border-radius: 4px;
  z-index: 2;

  .badge-dark {
    padding: 5px;
  }
}
