.sidebar {
  min-height: 100%;
  display: flex;
  position: fixed;
  z-index: 101;
  overflow: auto;
  opacity: 0;
  height: 100%;
  transform: translateX(-560px);
  background-color: white;
  overflow-y: auto;
  transition: all 0.62s;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
  }

  &__form {
    max-width: 300px;
    width: 100%;
    z-index: 11;
    top: 0;
    bottom: 0;
    height: 100%;
    transition: all 0.44s;
  }

  .close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__range {
    display: flex;
    width: 100%;

    input {
      height: 37px;
      padding-left: 10px;
      width: 50%;
      border: 1px solid #e8e8e8;

      &:first-child {
        border-right: none;
      }
    }

    label {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
  }

  &__submit-btn {
    &:first-child {
      margin-right: 40px;
    }
  }

  &__background {
    position: fixed;
    z-index: 10;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.45s;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.sidebar__background.isOpen {
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.55s;
}

.sidebar.isOpen {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.45s;

  @media (max-width: 576px) {
    width: 100%;
    .sidebar__form {
      max-width: unset;
    }
  }
}
