.filter-sidebar {
  min-height: 100%;
  display: flex;
  position: fixed;
  z-index: 10;
  overflow: auto;
  opacity: 0;
  transition: all 0.22s;

  &__form {
    position: fixed;
    max-width: 300px;
    width: 100%;
    z-index: 11;
    opacity: 0;
    background-color: white;
    top: 0;
    bottom: 0;
    transform: translateX(-300px);
    transition: all 0.44s;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
  }

  .close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__range {
    display: flex;
    width: 100%;

    input {
      height: 30px;
      padding-left: 10px;
      width: 50%;
      border: 1px solid #e8e8e8;

      &:first-child {
        border-right: none;
      }
    }

    label {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
  }
  &__submit-btn {
    &:first-child {
      margin-right: 40px;
    }
  }

  &__background {
    position: fixed;
    z-index: 10;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.45s;
  }
}

.filter-sidebar.isOpen {
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;
  opacity: 1;
  transition: all 0.45s;

  .filter-sidebar__form {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.37s;
  }

  .filter-sidebar__background {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 5.55s;
  }

  @media (max-width: 576px) {
    .filter-sidebar__form {
      max-width: unset;
    }
  }
}
