header {
  background-color: #fff;
  color: #202430;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.24s ease-in-out;

  .inner {
    max-width: 1600px;
    min-width: 320px;
    padding: 20px 35px;
    margin: 0 auto;
  }

  .nav-link {
    font-weight: 500;
    margin-right: 20px;

    :last-child {
      margin-right: 0;
    }
  }

  .navbar-light {
    .header-menu {
      .nav-link {
        color: #232323;
      }

      .nav-link.active {
        font-size: 16px;
        color: #ec5167;
      }
    }
  }

  .navbar-light {
    .header-menu {
      .nav-link {
        &:hover {
          font-size: 16px;
          color: #ec5167;
        }
      }
    }
  }

  .phone-number {
    color: #202430;
  }

  .btn {
    margin-left: 15px;
    padding: 8px 20px;
    background-color: #1dc659;
    border-radius: 20px;
    border: none;
    color: white;
  }

  .call-back {
    margin-left: 15px;
    padding: 8px 20px;
    background-color: #1dc659;
    border-radius: 20px;
    border: none;
    color: white;

    &:hover {
      background-color: darken(#1dc659, 10%);
      box-shadow: none;
      outline: none;
      border: none;
    }
  }

  .call-back.btn.btn-primary {
    &:active {
      background-color: darken(#1dc659, 15%);
      box-shadow: none;
      outline: none;
      border: none;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  @media (max-width: 992px) {
    .navbar-collapse {
      background: white;
      overflow-y: auto;
      position: fixed;
      padding-top: 80px;
      padding-bottom: 20px;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: -1;
      animation-name: fadeInTop;
      animation-timing-function: ease-in-out;
      animation-duration: 0.43s;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: auto;
      min-height: calc(100% - 80px);
      margin-bottom: auto;
      min-width: 320px;
      overflow: auto;
    }

    .nav-link {
      margin-right: 0;
      margin-bottom: 15px;
      :last-child {
        margin-right: 0;
      }
    }

    .phone-number {
      margin-bottom: 10px;
      text-align: center;
    }

    .contacts {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    .btn {
      width: 100%;
      margin-left: 0px;
    }
  }
}

.header.fixed {
  .inner {
    z-index: -1;
  }
}

@keyframes fadeInTop {
  from {
    top: -40px;
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
