.sale {
  .img-gallery {
    margin-bottom: 20px;
  }

  &__content-inner {
    display: flex;
  }

  &__short-info {
    text-align: left;
    align-items: center;
    font-size: 26px;
    margin-right: 100px;
  }

  &__short-info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__short-info-item {
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #232323;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__short-info-number {
    margin-right: 15px;
  }

  &__short-info-text {
    font-size: 14px;
    color: #4d4d4d;
  }

  &__communication-item {
    display: flex;
    font-size: 16px;
  }

  &__communication-label {
    margin-right: 20px;
    margin-bottom: 10px;
    color: #7c7c7c;
  }

  @media (max-width: 576px) {
    &__content-inner {
      display: flex;
      flex-direction: column;
    }

    &__short-info {
      margin-bottom: 20px;
    }
  }
}
