.towns-grid {
  .card {
    border: 1px solid #e3e3e3;

    &__top-link {
      text-decoration: none;
    }

    &__img {
      padding: 35px 15px 0 15px;
      width: 100%;
      min-height: 110px;
      height: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.35);
        z-index: -1;
      }
      .h3 {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }
    }

    &__top-link {
      color: white;
    }

    &__img-wraper {
      margin-bottom: 0;
    }

    .towns__property-item {
      display: flex;
      justify-content: space-between;
      color: #a5a5a5;
      text-decoration: none;
      cursor: unset;
    }

    .towns__property-item.active {
      color: #232323;
      cursor: pointer;
      &:hover {
        color: #ff4c4e;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      &__img {
        max-height: 110px;
        min-height: 95px;
        padding-top: 24px;
      }
    }
  }

  @media (max-width: 576px) {
    .card {
      &__img {
        max-height: 110px;
        min-height: 95px;
      }
    }
  }
}
