footer {
  background-color: #1dc659;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-shrink: 0;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    max-width: 1600px;
    width: 100%;
  }

  .logo {
    color: white;
    font-size: 20px;
  }

  .menu {
    display: flex;
  }

  .link {
    color: white;
    text-decoration: none;
    margin-right: 20px;

    &:hover {
      text-decoration: underline;
      transition: all 0.23s ease-in;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts {
    color: white;
  }

  .phone-number {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }

  .call-back {
    border-radius: 20px;
    padding: 8px 20px;
  }

  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .phone-number {
      color: white;
      text-decoration: none;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  @media (max-width: 568px) {
    .logo {
      margin-bottom: 20px;
    }

    .inner {
      padding: 20px 35px;
      flex-direction: column-reverse;
    }
    .contacts {
      flex-direction: column-reverse;
      text-align: center;
      margin-bottom: 10px;
    }

    .menu {
      flex-direction: column-reverse;
      text-align: center;
      .link {
        margin: 0;
      }
    }
  }
}
